// Custom overrides for dark mode and font size

body {
  background-color: #121212 !important;
  color: #eeeeee !important;
  font-size: 0.8rem;
}

a {
  color: #bb86fc;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-size: 80%;
}
